@import "../../../styles/consts.scss";

.examples {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 87px;
    gap: 36px;

    &__text {
        @include h2Text;
    }

    &__images {
        display: flex;
        flex-direction: column;
        height: 594px;
        gap: 30px;

        &__half {
            display: flex;
            gap: 30px;

            .example {
                width: 282px;
                height: 282px;
                border-radius: 6px;
            }
        }
    }
}