@import "../../../styles/consts.scss";

.advantages {
    margin-top: 86px;
    display: flex;
    width: 1218px;
    height: 757px;
    gap: 36px;
    flex-direction: column;
    align-items: center;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 78px;
    }
    

    &__first__half {
        display: flex;
        gap: 38px;
        flex-direction: column;
        margin-top: 136px;
    }

    &__block {
        display: flex;
        gap: 18px;
        flex-direction: column;
        align-items: center;
    }

    &__name {
        @include h2Text;
    }

    &__texts {
        display: flex;
        gap: 12px;
        flex-direction: column;
        align-items: center;

        &__name{
            @include spanTextWhite;
        }

        &__text{
            @include spanTextCenter;
        }
    }

    &__img {
        width: 100px;
        height: 100px;
    }

    &__second__half {
        display: flex;
        flex-direction: column;
        gap: 38px;
        margin-top: 136px;
        margin-left: 58px;
    }
}